{% extends 'customer/base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">
    
    <div class="intro-banner-wrap">
        <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
    </div>
    
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
    <div class="container">
    
    <header class="section-heading">
        <a href="{% url 'customer:store' %}?query=all" class="btn btn-outline-primary float-right">See all</a>
        <h1 class="section-title">Welcome to Our Store</h1>
        <h3 class="section-title">Popular products</h3>
    </header><!-- sect-heading -->
    

    <div class="container">
            <div class="row">
              {% if product_count > 0 %}
              {% for product in products %}
              <div class="col-md-4 mt-3 " >
                <figure class="card-product-grid">
                    <div class="img-wrap">
                        <a href="{% url 'customer:product_detail' product.id %}">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.product_name }}" height="200px" width="150px"/>
                    </a>
                    </div>
                    <figcaption class="info-wrap">

                        <div class="card-body">
                            <h5 class="card-title mt-2 mb-2" id="namepr{{i.id}}">{{ product.product_name }}</h5>
                            <p class="card-text">{{product.description}}</p>
                            <h6 class="card-title mb-3">
                                Price:<span id="pricepr{{i.id}}">{{product.price}}</span>
                            </h6>
                            <span id="divpr{{i.id}}" class="divpr">
                    
                                {% if product.stock > 0 %}
                                Stock : <span class="text-success">Available</span>
                                <br />
        
                                {% if item_exist %}
                                <br>
                                <a href="{% url 'customer:cart'  %}" class="btn  btn-primary"> <span class="text">Go to
                                        cart</span></a>
        
                                {% else %}
                                
                               
                                     <button id="pr{{i.id}}" class="btn btn-danger cart btn-sm mt-1">
                                  AddToCart
                                </button>
                              </span>
        
                                {% endif %}
                                {% endif %}
                        

                        
                            
                            <a href="{% url 'customer:product_detail' product.id %}">
                                
                                <button class="btn btn-dark btn-sm mt-1 cart">View</button>
                            </a>

                                <!-- <button id="pr{{i.id}}" class="btn btn-danger cart btn-sm mt-1">
                                  AddToCart
                                </button>
                              </span>
                  
                              <a href="/media/{{product.image}}">
                                <button class="btn btn-dark btn-sm mt-1 cart">View</button>
                              </a> -->
                        </div>
                    </figcaption>
                    </figure>
              </div>
      
              {% endfor %}
            </div>
          </div>
            <!-- Pagination links -->
           <div class="container">
            <div class="pagination">
                <span class="step-links">
                    {% if products.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ products.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <span class="current">
                        Page {{ products.number }} of {{ products.paginator.num_pages }}.
                    </span>

                    {% if products.has_next %}
                        <a href="?page={{ products.next_page_number }}">next</a>
                        <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>


        {% else %}
            <p>No products available.</p>
        {% endif %}
    </div>
    </div>
    </div><!-- container // -->
    </section>
    
    <!-- ========================= SECTION  END// ========================= -->

    
    

{% endblock %}



