{% extends 'seller/base.html' %}
{% load static %}

{% block content %}



<main class="col-md-9">
  <article class="card">
      <header class="card-header">
          <strong class="d-inline-block mr-3">Dashboard</strong>
           
      </header>
     <div class="flex-container">
      <div class="flex-card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">Products</h3>
            <div class="number" >
              <b>47</b>
            </div>                          
            <a href="#" class="btn btn-info">View</a>
            
          </div>
        </div>
        <div class="flex-card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">Orders</h3>
            <div class="number" >
              <b>5</b>
            </div>                          
            <a href="#" class="btn btn-info">View</a>
            
          </div>
        </div>
     </div>
    
     
  </article> <!-- order-group.// -->
</main>
{% endblock %}