{% extends 'seller/base.html' %}
{% load static %}

{% block content %}



<main class="col-md-9">
   <h1>view_category</h1>
   <div class="row">
      {% for item in products %}

      <div class="card card-product-grid" style="width: 18rem;">
         <a href="">
            <img src="{{item.image.url}}" class="card-img-top" alt="..." height="100%" width="100%">

         </a>
         <div class="card-body">
            <h5 class="card-title">{{item.product_name}}</h5>
            <h5 class="card-title">{{item.category}}</h5>
            <p class="card-text">{{item.description}}</p>
            <h5 class="card-title">{{item.stock}}</h5>
            <h6 class="card-title"></span>Price:<span>{{item.price}}</h6>
         </div>
      </div>
      
      {% endfor %}
   </div>
</main>

{% endblock %}

{% comment %} <main class="col-md-9">
   <h1>My products</h1>
   <div class="container-fluid">
      <div class="row">

         <div class="card col-md-4 d-inline-block">
            <img src="{% static 'images/1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5>DGI-906163</h5>
              <h5>Avilable stock : 20</h5>
            </div>
          </div>

          <div class="card col-md-4 d-inline-block">
            <img src="{% static 'images/2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
               <h5>DGI-906161</h5>
               <h5>Avilable stock : 30</h5>
            </div>
          </div>

          <div class="card col-md-4 d-inline-block">
            <img src="{% static 'images/3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
               <h5>DGI-906162</h5>
               <h5>Avilable stock : 10</h5>
            </div>
          </div>

          <div class="card col-md-4 d-inline-block">
            <img src="{% static 'images/4.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
               <h5>DGI-906164</h5>
               <h5>Avilable stock : 40</h5>
            </div>
          </div>
      </div>
   </div>
</main> {% endcomment %}

